html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  padding: 0.5rem;
  background-color: lightgray;
}

.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, 1fr));
  grid-template-rows: minmax(auto, 10rem) repeat(5, minmax(auto, 6rem));
  height: 100%;
  max-height: 700px;
  width: 100%;
  max-width: 450px;
  overflow: hidden;
  border-radius: 1rem;
  border: 2px solid gray;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid lightgray;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 1rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .formula {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-character {
  color: white;
  font-size: 2.5rem;
}
